.uWu {
  color: #FFE800;
  width: 828px;
  background-color: #530FAD;
  border: 3px solid #7922CC;
  border-radius: 25px;
    font-size: xx-large;
}
h2 {
  color: #D235D2;
  width: 828px;
  background-color: #530FAD;
  border: 3px solid #7922CC;
  border-radius: 1px;
    font-size: xxx-large;
}
body {
    background-color: #330570;
    font: sans pro;
}

li {
    line-height: 3;
}

nav{
    background-color: #090974;
}

.brand{
    color: #6C006C;
}

